.main
  =render 'branches/mainheader'
  .main__body
    .main__body__guide
      ● 使い方 ●
      %br ①「支社登録」を実施。
      ②「社員登録」を実施。
      %br ③サイドから支社を選択し、社員の有休休暇管理一覧を確認。
      ④有給消化時は「消化登録」を実施。
      %br ⑤消化登録の結果は、サイドの「消化履歴」から確認。
