.main
  =render 'branches/mainheader'
  .main__body
    .main__body__guide
      .main__body__guide__title
        「Backyard」の使い方
      .main__body__guide__text
        ①「支社登録」を実施。
        %br ②「社員登録」を実施。
        ③サイドから支社を選択し、社員の有休休暇管理一覧を確認。
        %br ④有給消化時は「有休登録」を実施。
        ⑤登録結果は、サイドの「付与または消化の履歴」から確認。
