.main
  =render 'mainheader'
  .logs__body
    .log
      .log__top
        .left
          .left__text 博多支店 :
          .left__text サンプル社員1
        .created_at 2019/05/10
      .log__low
        .reason 法定付与日のため
        .day 2日消化
    .log
      .log__top
        .left
          .left__text 天神支店 :
          .left__text サンプル社員2
        .created_at 2020/04/01
      .log__low
        .reason 授業参観のため
        .day 2日消化
    .log
      .log__top
        .left
          .left__text 赤坂支店 :
          .left__text サンプル社員3
        .created_at 2020/05/10
      .log__low
        .reason 家族旅行のため
        .day 2日消化