.main__header
  .nav
    .ragistation
      = link_to new_branch_path, class: "link" do
        支社登録
    .ragistation
      = link_to new_employee_path, class: "link" do
        社員登録
    .ragistation 消化登録
  .right
    .right__name
      = current_user.name
    .right__signout
      = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'right__signout--link'