.main
  =render 'mainheader'
  .main__body
    %table 
      %tr
        %th 氏名
        %th 入社日
        %th{id: "short"}
          付与日
        %th{id: "short"}
          勤続年数
        %th{id: "short"}
          繰越日数
        %th{id: "short"}
          消化日数
        %th{id: "short"}
          残日数
      %tr
        %th サンプル社員1
        %th 2019/04/01
        %th{id: "short"}
          10/01
        %th{id: "short"}
          0.5年
        %th{id: "short"}
          10
        %th{id: "short"}
          2
        %th{id: "short"}
          8
      %tr
        %th サンプル社員2
        %th 2018/04/01
        %th{id: "short"}
          10/01
        %th{id: "short"}
          1.5年
        %th{id: "short"}
          21
        %th{id: "short"}
          2
        %th{id: "short"}
          19
      %tr
        %th サンプル社員3
        %th 2017/04/01
        %th{id: "short"}
          10/01
        %th{id: "short"}
          2.5年
        %th{id: "short"}
          23
        %th{id: "short"}
          2
        %th{id: "short"}
          21
      %tr
        %th サンプル社員4
        %th 2016/04/01
        %th{id: "short"}
          10/01
        %th{id: "short"}
          3.5年
        %th{id: "short"}
          26
        %th{id: "short"}
          2
        %th{id: "short"}
          24
      %tr
        %th サンプル社員5
        %th 2015/07/30
        %th{id: "short"}
          01/30
        %th{id: "short"}
          4.5年
        %th{id: "short"}
          30
        %th{id: "short"}
          2
        %th{id: "short"}
          28
      %tr
        %th サンプル社員6
        %th 2014/07/30
        %th{id: "short"}
          01/30
        %th{id: "short"}
          5.5年
        %th{id: "short"}
          34
        %th{id: "short"}
          2
        %th{id: "short"}
          32
      %tr
        %th サンプル社員7
        %th 2013/07/30
        %th{id: "short"}
          01/30
        %th{id: "short"}
          6.5年
        %th{id: "short"}
          38
        %th{id: "short"}
          2
        %th{id: "short"}
          36