.logs__body {
  height: calc(100vh - 60px);
  width: 100%;
  overflow: auto;
  padding: 5px;
  box-sizing: border-box;
  background-color: $light_gray;

  .log {
    background-color: $yellow;
    padding: 10px;
    border-radius: 10px;
    width: 400px;
    margin: 20px auto;

    &__top {
      display: flex;
      justify-content: space-between;
      font-size: 12px;
      color: $gray;
      &__right {
        font-size: 14px;
        &:hover {
          color: $red;
        }
      }
      .link {
        text-decoration: none;
        color: $black;
        &:hover {
          color: $red;
        }
      }
    }
    &__low {
      display: flex;
      justify-content: space-between;
      margin-top: 15px;
    }
  }
}