.main__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: $gray;
  
  .nav {
    display: flex;

    a.logo {
      text-decoration: none;
      color: $white;
      margin: 0px 15px;
      font-size: 20px;
    }

    a.btn {
      display: block;
      height: 30px;
      width: 90px;
      text-decoration: none;
      color: $black;
      background-color: $white;
      margin-left: 10px;
      text-align: center;
      border-radius: 10px;
      &:hover {
        background-color: $yellow;
      }
    }

  }
  .right {
    width: 150px;
    height: 30px;
    margin: 0px 15px;
    display: flex;
    justify-content: space-between;

    &__name {
      font-size: 12px;
      color: $light_gray;
      line-height: 30px;
    }
    &__signout {
      margin-left: 20px;
      line-height: 30px;

      &--link{
        text-decoration: none;
        color: $white;
        &:hover {
          color: $yellow;
        }
      }
    }
  }
}