.employee {
  height: 100vh;
  width: 100%;

  &__body {
    width: 600px;
    height: 500px;
    background-color: #4f4f4f;
    margin: 0 auto;
    border-radius: 10px;

    &__name {
      height: 60px;
      font-size: 25px;
      color: #fce197;
      text-align: center;
      line-height: 60px;
      margin: 20px auto;
    }

    &__form {
      font-size: 16px;
      padding: 30px;
      .field{
        display: flex;
        align-items: center;
        color: #ffffff;

        &-label {
          width: 80px;
        }

        &-input {
          margin-left: 15px;
        }
      }
      .btns {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        .btn {
          width: 90px;
          height: 40px;
          background-color: #ffffff;
          font-size: 16px;
          border-radius: 10px;
          &:hover {
            background-color: #fce197;
          }
        }
      }
    }
  }
}