.holiday {
  height: 100vh;
  width: 100%;
  padding: 50px;

  &__body {
    width: 100%;
    max-width: 500px;
    padding: 40px;
    background-color: #4f4f4f;
    margin: 0 auto;
    border-radius: 10px;

    &__title {
      font-size: 20px;
      color: #fce197;
      text-align: center;
    }

    &__form {
      padding-left: 60px;

      .field{
        align-items: center;
        color: #ffffff;
        margin-top: 20px;

        &-days{
          display: flex;
        }

        &-input {
          display: flex;
          margin-right: 50px;
        }

        #holiday_employee_id, #holiday_reason {
          display: block;
          height: 40px;
          padding-left: 10px;
          width: 100%;
          max-width: 320px;
        }
        #holiday_registration_date_1i{
          display: block;
          height: 30px;
          padding-left: 10px;
          width: 30%;
        }

        #holiday_registration_date_2i, #holiday_registration_date_3i{
          display: block;
          height: 30px;
          padding-left: 10px;
          width: 20%;
        }

        #holiday_add_day, #holiday_delete_day {
          display: block;
          height: 30px;
          padding-left: 10px;
          width: 50px;
        }
      }
      .btns {
        display: flex;
        margin-top: 30px;

        .btn {
          width: 90px;
          height: 40px;
          background-color: #ffffff;
          font-size: 16px;
          border-radius: 10px;
          margin-right: 30px;
          &:hover {
            background-color: #fce197;
          }
        }
      }
    }
  }
}