.main {
  height: 100vh;
  width: calc(100% - 250px);

  &__body {
    height: calc(100vh - 60px);
    width: 100%;
    overflow: auto;
    padding: 5px;
    box-sizing: border-box;
    background-color: #efefef;

    &__guide {
      width: 350px;
      height: 110px;
      background-color: #4f4f4f;
      color: #fce197;
      margin:30px auto auto;
      padding: 15px;
      font-size: 12px;
    }

    table {
      table-layout: fixed;
      min-width: 100%;
      background-color: #ffffff;

      tr {
        width: 120px;
        min-width: 120px;

        th {
          width: 120px;
          min-width: 120px;
          border: solid 1px black;
          text-align: center;
          }
        }
        #short {
          width: 80px;
          min-width: 80px;
        }
        #veryshort{
          width: 50px;
          min-width: 50px;
        }
        .link {
          text-decoration: none;
          color: black;
          &:hover {
            color: red;
          }
        }
        .bgc{
          background-color: #fce197;
        }
      }
    } 
  }