.main {
  height: 100vh;
  width: calc(100% - 250px);

  &__body {
    height: calc(100vh - 60px);
    width: 100%;
    overflow: auto;
    padding: 5px;
    box-sizing: border-box;
    background-color: #efefef;

    table {
      table-layout: fixed;
      min-width: 100%;
      background-color: #ffffff;

      tr {
        width: 120px;
        min-width: 120px;

        th {
          width: 120px;
          min-width: 120px;
          border: solid 1px black;
          text-align: center;
        }

        #short {
          width: 80px;
          min-width: 80px;
        }
      }
    } 
  }
}