.main__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: #4f4f4f;
  
  .nav {
    display: flex;

    .ragistation {
      height: 40px;
      width: 90px;
      background-color: #ffffff;
      margin-left: 15px;
      text-align: center;
      line-height: 40px;
      border-radius: 10px;
      &:hover {
        background-color: #fce197;
      }
      .link{
        text-decoration: none;
        color: black;
      }
    }
  }
  .right {
    height: 40px;
    width: 100px;
    margin: 0px 15px 0px 15px;
    text-align: center;

    &__name {
      font-size: 12px;
      color: #efefef;
      margin-bottom: 3px;
    }
    &__signout--link {
      font-size: 14px;
      color: #ffffff;
      text-decoration: none;
      &:hover {
        color: #fce197;
      }
    }
  }
}